---
import Layout from '../layouts/BlogPost.astro';
import Expandable from '../components/About/Expandable.vue';

const title = "Tentang Simak Universitas Indonesia"
---

<Layout
title={title}
description="Semua tentang Simak Universitas Indonesia "
pubDate={new Date('August 28 2024')}
>
	<h3>
		{title}
	</h3>
<img src="../../public/kampus-ui.jpg" alt="kampus ui">
	<p>
		Simak-UI (Seleksi Masuk UI) adalah ujian seleksi terpadu masuk UI yang diselenggarakan UI bagi calon mahasiswa yang ingin kuliah di UI. Program pendidikan yang dibuka pada SIMAK UI mulai dari Program Vokasi (D3 dan D4), Sarjana, Sarjana Kelas Internasional, Sarjana dengan Rekognisi Pembelajaran Lampau (RPL), Profesi, Spesialis, Magister dan Doktor.
	</p>

	<p class="prestasi-siswa">
		Bagi siswa/i yang berasal dari SMA (Sekolah Menengah Atas) atau sederajat yang sudah memiliki ijazah Paket C atau mendapatkan sertifikasi A Level, IB Diploma atau sudah mendapatkan surat penyetaraan dari Departemen Pendidikan Nasional (bagi lulusan luar negeri) dapat mengikuti SIMAK UI tanpa harus mengikuti UN (Ujian Nasional).
	</p>

	<Expandable client:load/>
</Layout>
<style>
	a {
		color: blueviolet;
		text-decoration: none
	}
	a:hover {
		text-decoration: underline;
	}
	.prestasi-siswa {
		border: 1px black solid;
		padding: 10px;
	}
@media (max-width: 768px) {
    h1 {
		font-size: xx-large;
	}
}

</style>