---
import Slideshow from "../components/Home/Slideshow.vue"
import Info from "../components/Home/Info.astro"
import Pengumuman from "../components/Home/Pengumuman.astro"
import Video from "../components/Home/Video.astro"
import Classement from "../components/Home/Classement.astro"
import Rumpun from "../components/Home/Rumpun.astro"
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simak-UI</title>
    </head>
    <body>
        <main>
                <Slideshow client:only="vue" />
                <Info />
                <Pengumuman />
                <Classement />
                <Rumpun />
                <Video />
        </main>
    </body>
    <style>
        main {
	        width: calc(100% - 2em);
		    max-width: 100%;				
            margin: 0;
            padding: 0;
	    }
    
        * {
        box-sizing: border-box
        }
    
        body {
            margin:0;
        }
    </style>
</html>