<h1>INFO</h1>
<div class="card-container">
    <div class="card">
        <div class="head">
            <p>
                Mahasiswa UI berhasil Meraih Juara 1 pada Olimpiade tingkat Nasional
            </p>
        </div>
        <div class="comment">
            <p>
                Sanggahan: *Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum exercitationem dolor autem corporis non, distinctio dolorum libero sit ratione cum id sunt quasi eos. Sed maxime maiores inventore dicta?
            </p>
        </div>
    </div>
    <div class="card">
        <div class="head">
            <p>
                Ada apa dengan UI hari ini?
            </p>
        </div>
        <div class="comment">
            <p>
                Sanggahan: *Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum exercitationem dolor autem corporis non, distinctio dolorum libero sit ratione cum id sunt quasi eos. Sed maxime maiores inventore dicta?
            </p>
        </div>
    </div>
    <div class="card">
        <div class="head">
            <p>
                Tips & Trik agar lolos test SMBP
            </p>
        </div>
        <div class="comment">
            <p>
                Sanggahan: *Mau tahu ya?
            </p>
        </div>
    </div>
    <div class="card">
        <div class="head">
            <p>
                Berita di Depok hari ini
            </p>
        </div>
        <div class="comment">
            <p>
                Sanggahan: *Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum exercitationem dolor autem corporis non, distinctio dolorum libero sit ratione cum id sunt quasi eos. Sed maxime maiores inventore dicta?
            </p>
        </div>
    </div>
</div>
    
<style>
    .card-container {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
    .card {
        border: 1px solid black;
        width: 90%;
        border-radius: 10px;
    }

    .head {
        font-weight: bold;
        border-bottom: 1px solid black;
        background-color: rgb(238, 255, 0);
        padding: 10px;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .comment {
        padding: 10px;
    }

</style>