<html>
    <body>
        <h1>Lainnya</h1>
        <div class="container">
                <iframe width="350" height="315" src="https://www.youtube.com/embed/_GUcr7u_QBA?si=HNVEpHdDq81kuFWq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe width="350" height="315" src="https://www.youtube.com/embed/GrfZWX0FWmc?si=qv6IdN-kdNiW0zEw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe width="350" height="315" src="https://www.youtube.com/embed/BV4nzaAH-vo?si=H9h2Yt7CjvVChkVW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
    </div>
    </body>
    
    <style>
        .container { 
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 10px;
            justify-content: center;
        }
        .video-container {
            align-items: center;
            text-align: center;
        }
        .video-container p {
            font-size: medium;
            font-weight: bolder;
            margin: 0;
        }
    </style>
</html>