<div class="table-jadwal">
    <div class="jadwal">
        <table class="table-luar">
            <thead>
                <tr>
                    <th class="judul">S1 dan VOKASI (D3 & D4)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="table-dalam">
                            <thead>
                                <tr>
                                    <th>Kegiatan</th>
                                    <th>Pendaftaran</th>
                                    <th>Ujian</th>
                                    <th>Pengumuman</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="https://snpmb.bppp.kemdikbud.go.id/">SNBP</a></td>
                                    <td>14-28 Februari 2024</td>
                                    <td>-</td>
                                    <td>26 Maret 2024</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="jadwal">
        <table class="table-luar">
            <thead>
                <tr>
                    <th class="judul">S1 KELAS INTERNASIONAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="table-dalam">
                            <thead>
                                <tr>
                                    <th>Kegiatan</th>
                                    <th>Pendaftaran</th>
                                    <th>Ujian</th>
                                    <th>Pengumuman</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Talent Scouting</td>
                                    <td>28 Februari – 22 Maret 2024</td>
                                    <td>-</td>
                                    <td>17 April 2024</td>
                                </tr>
                                <tr>
                                    <td><a href="https://penerimaan.ui.ac.id/">SIMAK KELAS INTERNASIONAL</a></td>
                                    <td>4 Juni  – 26 Juni 2024</td>
                                    <td>30 Juni 2024 (online)</td>
                                    <td>12 Juli 2024</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<style>
      .table-jadwal {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }

    .table-luar {
        border: 1px solid black;
        width: 100%; 
        border-collapse: collapse; 
    }

    .judul {
        font-weight: normal;
        padding: 10px;
        text-align: center;
    }

    .table-luar td {
        padding: 20px;
    }

    .table-dalam {
        border: 1px solid black;
        width: 100%; 
        border-collapse: collapse;
    }

    .table-dalam th {
        background-color: yellow;
        padding: 10px; 
        border: 1px solid black;
        text-align: center;
    }

    .table-dalam td {
        padding: 10px; 
        border: 1px solid black;
        text-align: center;
        font-size: medium;
    }

    .judul {
        padding: 10px;
        background-color: lightgray;
        border-bottom: 1px solid gray;
    }

    a {
        color: black;
        text-decoration: underline;
    }
    a:hover {
        color: rgb(130, 129, 129);
    }
</style>